<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 60px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}        html, body, .header {
            height: 100%;
        }
</style>
</head>
<body>

<div class="header" style='background:{{ color}};'>
    <h1>{{ message }}</h1>
</div>


</body>
</html>
